<% _.each(data,function(datos){%>

      
      <h1><%= datos.name%></h1>
       <h1><%= datos.lastname%></h1>
        <h1><%= datos.mail%></h1>
         <h1><%= datos.location%></h1>
         <h1><%= datos.telephone%></h1>






<%})%>